<p>Привет {{ name }},</p>
<p>Вас пригласили в ERP систему</p>
<p>Данные для входа</p>
<p>Логин: {{ email }}</p>
<p>Пароль: {{ password }}</p>


<p>If you did not request this email you can safely ignore it.</p>
